@use "./pages/LandingPage";
@use "./pages/GeneratePage";
@use "./components/Button";
@use "./helper/variables" as *;
@use "./helper/mixins" as *;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $primary_font;
  overflow-x: hidden;
}