@use "../helper/variables" as *;
@use "../helper/mixins" as *;

@use "../components/Header";
@use "../components/Navigation";
@use "../components//LoremInfo";
@use "../components/Footer";

section {

  h2 {
    font-size: 3rem;
    color: $primary_color;
    margin: 0;
    padding: 3rem 0;
    @include breakPoints("small") {
      font-size: 2.5rem;
    }
  }
}