@use "../helper/mixins" as *;
@use "../helper/variables" as *;

.navigation {
  display: flex;
  list-style: none;
  margin: 0 1rem;
  padding: 1rem 0;
  li {
    margin: 0 1rem;
  }
  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    &:hover {
      border-bottom: 2px solid $fourth_color;
    }
  }
  :last-child {
    a {
      color:$fourth_color;
      font-weight: bolder;
    }
  }
}
